<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/node_modules/@brightspace-ui/core/components/demo/styles.css" type="text/css">
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
		<script type="module">
			import '@brightspace-ui/core/components/demo/demo-page.js';
			import '@brightspace-ui/core/components/button/button.js';
			import '../d2l-activity-date-type-dialog.js';
		</script>
		<title>activity-list-pane</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body>
		<d2l-demo-page page-title="d2l-activity-date-type-dialog">
			<d2l-demo-snippet>
				<template>
					<d2l-button id="open">Show Dialog</d2l-button>
					<d2l-activity-date-type-dialog 
						id="d2l-activity-date-type-dialog">
					</d2l-activity-date-type-dialog>
					<script>
						const dialog = document.querySelector('#d2l-activity-date-type-dialog');
						
						// set properties
						dialog.titleText = 'Dialog Title';
						dialog.descriptionText = 'This is the description that appears above the date type selections.';
						dialog.dateType = 1;
						dialog.displayInCalendar = true;

						// log close event
						dialog.addEventListener('d2l-activity-date-type-dialog-closed', (e) => {
							// eslint-disable-next-line no-console
							console.log('dialog closed', e);
						});

						document.querySelector('#open').addEventListener('click', () => {
							document.querySelector('#d2l-activity-date-type-dialog').opened = true;
						});
					</script>
				</template>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>