name: CI
on: pull_request
jobs:
  test:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/third-party-actions@actions/setup-node
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Unit Tests (Jest)
        run: npm run test:js
      - name: Unit Tests (Karma)
        run: npm run test:karma
